@font-face {
    font-family: 'Playfair Display';
    src: local('Playfair Display Bold Italic'), local('Playfair-Display-Bold-Italic'),
        url('PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('PlayfairDisplay-BoldItalic.woff') format('woff'),
        url('PlayfairDisplay-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }